@charset "utf-8";


/* 현재 페이지 경로 */

.content_location {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    height: 45px;
    align-items: center;
}

.content_location_inner {
    width: 100%;
    box-sizing: border-box;
    justify-items: right;
    padding-right: 60px;
    align-items: center;
}

.content_location_inner ul {
    display: flex;
    gap : 15px;
    list-style: none;              
    padding-right: 100px;
    margin: 0;
    
}

.content_location_inner ul li a {
    color: inherit
}

.content_location_inner ul span {
    padding: auto;
    padding-left: 8px;

}


.content_wrap {
    gap: 50px;
    display: flex;
    box-sizing: border-box;
    width: 100vx;
    height: auto;
    justify-content: center;
    
}


/* 서브 메뉴 */
.snb {
    display: block;
    width: 220px;
    height: 500px;
}


.snb_title_wrap {
    display: block;
    background-color: #2C2A6E;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snb_title {
    font-family: "pretendard", sans-serif;
    color: #fefefe;
    font-weight: 700;
    font-size: 32px;
}

.snb_nav_wrap {
    display: block;
    width: 100%;
    height: 185px;
    
}

.snb_nav {
    display: block;
    width: 100%;
    height: 100%;
    
}

.depth2 {
    list-style: none;

}

.depth2 li {
    border-bottom: 1px solid #ccc;
}


.depth2 a {
    display: block;
    text-decoration: none;
    font-family: "pretendard", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    padding: 15px 20px;
    padding-left: 0px;
    
}

.depth2 .fst_child {
    text-decoration: underline;
}


.depth2 a:hover {
    color: #0080ff;
    text-decoration: underline;
}


/* 메인컨텐츠 */



.content {
    display: block;
    width: 920px;
}

.content_head {
    display: block;
    padding-bottom: 15px;
}

.content_title_wrap {
    display: flex;
    border-bottom: 4px solid #333;
    
}


.content_title {
    font-family: "pretendard";
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}


/* 메인컨텐츠 푸터 */

.content_license {
    margin: 30px;
}

.license_img_wrap  {
    border: 1px solid #a9a9a9;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.license_title {
    display: flex;
    font-family: "pretendard" sans-serif;
    font-size: 18px;
    font-weight: 700;
    align-items: center;

}


.pagenav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
}

.pagenav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagenav a.active {
    background-color: #2C2A6E;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #333; 
  color: #fff;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;
  transition: 0.3s;
}

.btn-top:hover {
  background-color: #0056b3;
}


/* 중앙*/
 .con{
  min-height: 720px;
  flex:1;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  text-align: center;
}

 .form_wrap{
  width:520px;
  display:flex;
  justify-content:center;
}

 .board_wrap{
  width: 100%;
  max-width: 920px;
}

 .board_card{
  width: 100%;
  background: #fff;
  /*border: 8px solid #dfe3e8;*/
  border: 8px solid #fff;
  padding: 22px 20px 24px;
}

 .item_tit{
  margin-bottom: 14px;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
}

 .table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-top: 2px solid #2a2f35;
}

 .table th,
 .table td{
  border-bottom: 1px solid #d7dbe2;
  padding: 10px 8px;
  font-size: 15px;
  line-height: 1.4;
}

 .table th{
  font-weight: 700;
  background: #f8f9fb;
  text-align: center;
}

 .table td.no{ width: 8%; text-align: center; }
 .table td.n_tit{ width: auto; text-align: left; }
 .table td.n_tit a{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #222;
}
 .table td.atho{ width: 12%; text-align: center; }
 .table td.hits{ width: 10%; text-align: center; }

 .btn_con.write_wrap{
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

 .btn_ctrl.write{
  height: 38px;
  padding: 0 18px;
  border: 2px solid #555;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 800;
  background: #2C2A6E;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.table{
  width:100%;
  table-layout:fixed; 
  border-collapse:collapse;
}

.table thead th{
  text-align:center;
  font-weight:600;
}

.table thead th:nth-child(1),
.table tbody td:nth-child(1){
  width:50px;
  text-align:center;
}

.table thead th:nth-child(3),
.table tbody td:nth-child(3),
.table thead th:nth-child(4),
.table tbody td:nth-child(4){
  width:100px;
  text-align:center;
}

/* 2열(제목) */
.table thead th:nth-child(2){
  width:auto;
  text-align:center;
}

.table tbody td:nth-child(2){
  text-align:left;     
  padding-left:14px;
}

/* 제목 길면 ... 처리 */
.table tbody td:nth-child(2) a{
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:100%;
}