
@charset "utf=8";

.page{
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 0 16px; 
}


.page_grid2 {
    clear: both;
    width: 100%;
}

.page_title3 {
    text-align: center;
    font-size: 38px;
    font-family: 'Pretendard';
    font-weight: 200;
}

.page_title3 span {
    font-family: 'Pretendard';
    font-size: 45px;
    font-weight: 500;
}

.row3 {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 36px;
    margin: 40px -20px;
}

.f_thumb img {
    width: 440px;
    height: auto;
    border-radius: 20px; 
    margin-bottom: 40px;
    /* border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 0px black; */
}

.thumb_content .tit4 {
    text-align: center;
    font-family: 'Pretendard';
    font-size: 30px;
    color: black;
    font-weight: 600;
    /* margin-top: -60px; */
}

.thumb_content .tit5 {
    text-align: center;
    font-family: 'Pretendard';
    font-size: 30px;
    color: black;
    font-weight: 600;
    /* margin-top: -60px; */
}

.thumb_content .tit6 {
    text-align: center;
    font-family: 'Pretendard';
    font-size: 30px;
    color: black;
    font-weight: 600;
    /* margin-top: -60px; */
}

.f_thumb .tit4 span::before {
    content: "\25B6";
}

.f_thumb .tit4 span::after {
    content: "\25C0";
}

.f_thumb .tit5::before {
    content: "\2308";
}

.f_thumb .tit5::after {
    content: "\230b";
}

#link1 {
    display: block;
    text-align: right;
    font-family: 'pretendard';
    font-size: 20px;
    margin-left: 1200px;
    color: rgb(101, 101, 101);
}

/* 메인3 */


.page{
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 0 16px; 
}

#page3 {
    background-color:rgb(220,232,245);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top, center bottom;
    background-size: auto;
}


.page_grid3 {
    clear: both;
    width: 100%;
}

.page_title4 {
    font-family: 'pretendard';
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(121, 121, 121);
}


.link3{
    color:black;
    display: block;
    text-align: left;
    font-family: 'pretendard';
    font-size: 23px;
    font-weight: 300;
}


.date {
    display: block;
    text-align: right;
    color: rgb(101, 101, 101);
    font-family: 'pretendard';
    font-size: 16px;
    font-weight: 300;
}

#link2 {
    display: block;
    text-align: right;
    font-family: 'pretendard';
    font-size: 20px;
    margin-left: 1200px;
    color: rgb(70, 70, 70);
}


/*메인 영상이미지*/

