@charset "utf-8";

.page{
    clear: both;
    width: 100vw;
    padding: 40px 0px;
}

.page_wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 0 16px; 
}

/* .page_title {
    text-align: center;
    font-family: 'Pretendard';
    font-size: 78px;
    padding:0px 30px;
    font-weight:600;
} */

.page_grid {
    clear: both;
    width: 100%;
}


.big_thumb img {
    border: 1px solid rgb(255, 255, 240);
    width: 200px;
    height: 100px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 40px;
    margin-bottom: 5px;
    gap:5px;
}

.big_thumb img:hover {
    filter: brightness(1.4);
    transition: 0.7s;
} 

/* .row1 .tit1 span::after {
    content: "\2103";
} */

/* .big_thumb {
    position: relative;
} */

.row1 {
    display: flex;
    gap: -10px;
    flex-wrap: wrap;
    /* padding-top: 24px; */
    justify-content: space-around;
}


.row1 .tit1 {
    margin-top: 0px;
    text-align: center;
    font-family: 'pretenard';
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.row1 .tit1::after {
    content:"\2713";
}

/* .row1 .tit1::before {

} */

.page_title {
     /* border:1px solid blue; */
    /* width: 1280px;
    margin-left: 350px;  */
    text-align: center;
    font-size: 40px;
    font-family: 'Pretendard';
    font-weight: 400px;
    color:rgba(0, 0, 0, 0.87);
    text-shadow: 1px 1px 1px rgba(164, 164, 164, 0.87);
}

.page_title::after {
    content: "❓";
}


/* 메인1 하단부분 txt , img */
.row2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 36px;
    margin: 40px -20px;
}

.page_title2 {
    margin-top: 50px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Pretendard';
    font-weight: 500;
}

.page_title2::after {
    content: "✈️✈️";
}

.s_thumb img {
    border-radius: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 0px black;
}

.s_thumb img:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.row2 .tit2 {
    margin-top:-30px;
    text-align: center;
    font-family: 'YesMyungjo';
    font-size: 25px;
    font-weight: 600;
    color: black;
}

#s_thumb1 {
    height: 400px;
    border: 1px solid #fff9f9;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(203, 203, 203);
}
/* 해시태그 */
.row2 .tit3 {
    margin-top: 80px;
    font-size: 16px;
    font-family: 'Pretendard';
    color:rgb(158, 158, 158);

}

#s_thumb2 {
    height: 400px;
    border: 1px solid #fff9f9;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(203, 203, 203);
}

#s_thumb3 {
    height: 400px;
    border: 1px solid #fff9f9;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(203, 203, 203);
}
#s_thumb4 {
    height: 400px;
    border: 1px solid #fff9f9;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(203, 203, 203);
}

