@charset "utf-8";

.contanier {
    display: block;
    padding-bottom: 10px;
}



/* 현재 페이지 경로 */

.content_location {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    height: 45px;
    align-items: center;
}

.content_location_inner {
    
    width: 100%;
    box-sizing: border-box;
    justify-items: right;
    padding-right: 80px;
    align-items: center;
}

.content_location_inner ul {
    display: flex;
    gap : 15px;
    list-style: none;              
    padding-right: 100px;
    margin: 0;
    
}

.content_location_inner ul li a {
    color: inherit
}

.content_location_inner ul span {
    padding: auto;
    padding-left: 8px;

}






.content_wrap {
    gap: 50px;
    display: flex;
    box-sizing: border-box;
    width: 100vx;
    height: auto;
    justify-content: center;
    
}



/* 서브 메뉴 */
.snb {
    display: block;
    width: 220px;
    height: 500px;
}

.div .snb_wrap{
    display: block;
    width: 100%;
    height: 499px;
}

.snb_title_wrap {
    display: block;
    background-color: #2C2A6E;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snb_title {
    font-family: "pretendard", sans-serif;
    color: #fefefe;
    font-weight: 700;
    font-size: 32px;
}

.snb_nav_wrap {
    display: block;
    width: 100%;
    height: 185px;
    
}

.snb_nav {
    display: block;
    width: 100%;
    height: 100%;
    
}

.depth2 {
    list-style: none;

}

.depth2 li {
    border-bottom: 1px solid #ccc;
}


.depth2 a {
    display: block;
    text-decoration: none;
    font-family: "pretendard", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    padding: 15px 20px;
    padding-left: 0px;
    
}

.depth2 .thr_child {
    text-decoration: underline;
}


.depth2 a:hover {
    color: #0080ff;
    text-decoration: underline;
}


/* 메인컨텐츠 */



.content {
    display: block;
    width: 920px;
}

.content_head {
    display: block;
    padding-bottom: 15px;
}

.content_title_wrap {
    display: flex;
    border-bottom: 4px solid #333;
    
}


.content_title {
    font-family: "pretendard";
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}

.view {
    display: block;
    padding-top: 30px;
}

.view_header h2 {
    display: block;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
    font-family: "pretendard", sans-serif;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}

.view_content {
    display: block;
    padding-top: 30px;
    line-height: 1.6;
    font-family: "pretendard", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    overflow: hidden;
}

.content_wrap .content_wrap {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'pretendard', sans-serif; 
    font-weight: 500; 
    font-size: 18px;
}

.content_wrap .sub_title {
    font-style: oblique;
    margin-top: 15px;
    margin-bottom: 55px;
}


.post1 .img_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* h3 일괄 적용이 안됨 */
.post1 h3{
    font-family: "pretendard", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    padding: 10px 0px 10px 0px;
}

.post2 h3{
    font-family: "pretendard", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    padding: 10px 0px 10px 0px;
}
.post3 h3{
    font-family: "pretendard", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    padding: 10px 0px 10px 0px;
}
.post4 h3{
    font-family: "pretendard", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    padding: 10px 0px 10px 0px;
}

.post1 .img_wrap img {
    width: 495px;
    height: 325px;
    scale: 0.98;
    object-fit: cover;
}

.post4 .img_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post4 .img_wrap img {
    width: 495px;
    height: 325px;
    scale: 0.98;
    object-fit: cover;
}

.tour_info {
    display: block;
    background-color: #dde4f6;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    
}



.tour_info li em {
    display: inline-block;
    width: 100px;
    font-weight: 800;
    line-height: 1.6;
    font-family: "pretendard", sans-serif;
}

.tour_info li a {
   color: inherit;
}

.tour_info li a:hover {
   text-decoration: underline;
}

.view_content {
    border-bottom: 1px solid #ccc;
}


/* 메인컨텐츠 푸터 */

.content_license {
    margin: 30px;
}

.license_img_wrap  {
    border: 1px solid #a9a9a9;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.license_title {
    display: flex;
    font-family: "pretendard" sans-serif;
    font-size: 18px;
    font-weight: 700;
    align-items: center;

}

html {
  scroll-behavior: smooth;
}

.btn-top {
  position: fixed;    
  bottom: 30px;       
  right: 30px;        
  width: 50px;        
  height: 50px;       
  background-color: #000000; 
  color: #fff;        
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;       
  transition: 0.3s;   
}

.btn-top:hover {
  background-color: #004288;
}