@charset "utf-8";

.contanier {
    display: block;
    padding-bottom: 10px;
}



/* 현재 페이지 경로 */

.content_location {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    height: 45px;
    align-items: center;
}

.content_location_inner {
    width: 100%;
    box-sizing: border-box;
    justify-items: right;
    padding-right: 60px;
    align-items: center;
}

.content_location_inner ul {
    display: flex;
    gap : 15px;
    list-style: none;              
    padding-right: 100px;
    margin: 0;
    
}

.content_location_inner ul li a {
    color: inherit
}

.content_location_inner ul span {
    padding: auto;
    padding-left: 8px;

}




.content_wrap {
    gap: 50px;
    display: flex;
    box-sizing: border-box;
    width: 100vx;
    height: auto;
    justify-content: center;
    
}



/* 서브 메뉴 */
.snb {
    display: block;
    width: 220px;
    height: 500px;
}

.div .snb_wrap{
    display: block;
    width: 100%;
    height: 499px;
}

.snb_title_wrap {
    display: block;
    background-color: #2C2A6E;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snb_title {
    font-family: "pretendard", sans-serif;
    color: #fefefe;
    font-weight: 700;
    font-size: 32px;
}

.snb_nav_wrap {
    display: block;
    width: 100%;
    height: 185px;
    
}

.snb_nav {
    display: block;
    width: 100%;
    height: 100%;
    
}

.depth2 {
    list-style: none;

}

.depth2 li {
    border-bottom: 1px solid #ccc;
}


.depth2 a {
    display: block;
    text-decoration: none;
    font-family: "pretendard", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    padding: 15px 20px;
    padding-left: 0px;
    
}

.depth2 .sec_child {
    text-decoration: underline;
}


.depth2 a:hover {
    color: #0080ff;
    text-decoration: underline;
}


/* 메인컨텐츠 */



.content {
    display: block;
    width: 920px;
}

.content_head {
    display: block;
    padding-bottom: 15px;
}

.content_title_wrap {
    display: flex;
    border-bottom: 4px solid #333;
    
}


.content_title {
    font-family: "pretendard";
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}



/* 메인컨텐츠 푸터 */

.content_license {
    margin: 30px;
}

.license_img_wrap  {
    border: 1px solid #a9a9a9;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.license_title {
    display: flex;
    font-family: "pretendard" sans-serif;
    font-size: 18px;
    font-weight: 700;
    align-items: center;

}

/*인천공항 소개*/

.sub_img  img{
    width: 860px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}


.tbox {
    display: block;
    width: 850px;
    height: 200px;
    border: 3px solid rgb(194, 194, 194);
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 50px;
}

.tbox p {
    font-family: "pretendard" , sans-serif;
    font-size: 15px;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.info p {
    font-family: "pretendard" , sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: chocolate;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 30px ;
}

.info img {
    width: 900px;
    height: auto;
    border: 3px solid black;
}



/* 인천공항 버튼 */

.warp-inner {
    display: flex;
    overflow: hidden;
    /* border-radius: 10%; */
    /* border: 1px solid black;
    border-radius: ; */
}

.stepstep1 {
    width: 420px;
    height: 320px;
    background-color: #d4d4d4;
    border-radius: 20px 20px 20px 20px;
}

.stepstep2 {
    margin-left: 20px;
    width: 420px;
    height: 320px;
    background-color: #d4d4d4;
    border-radius: 20px 20px 20px 20px;
}

.step-num {
    display: block;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'pretendard';
    font-size: 20px;
    font-weight: 400;
    color: #0080ff;
}

.top strong {
    display: block;
    margin-left: 25px;
    margin-bottom: 30px;
   font-family: 'pretendard';
    font-size: 30px;
    font-weight: 600;
}


.top p {
    display: block;
    margin-left: 25px;
    margin-bottom: 30px;
   font-family: 'pretendard';
    font-size: 23px;
    font-weight: 400;
}

.link-box {
    margin-left: 20px;
    width: 380px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
}

.link-box  a{
    margin-top: 5px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'pretendard';
    color: black;
}


    /* top버튼  */

html {
  scroll-behavior: smooth;
}

.btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #333; 
  color: #fff;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;
  transition: 0.3s;
}

.btn-top:hover {
  background-color: #0056b3;
}

/*넘김버튼*/


.pagenav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
}

.pagenav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagenav a.active {
    background-color: #2C2A6E;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}