@charset "utf-8";


/* 현재 페이지 경로 */

.content_location {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    height: 45px;
    align-items: center;
}

.content_location_inner {
    width: 100%;
    box-sizing: border-box;
    justify-items: right;
    padding-right: 60px;
    align-items: center;
}

.content_location_inner ul {
    display: flex;
    gap : 15px;
    list-style: none;              
    padding-right: 100px;
    margin: 0;
    
}

.content_location_inner ul li a {
    color: inherit
}

.content_location_inner ul span {
    padding: auto;
    padding-left: 8px;

}


.content_wrap {
    gap: 50px;
    display: flex;
    box-sizing: border-box;
    width: 100vx;
    height: auto;
    justify-content: center;
    
}


/* 서브 메뉴 */
.snb {
    display: block;
    width: 220px;
    height: 500px;
}

.div .snb_wrap{
    display: block;
    width: 100%;
    height: 499px;
}

.snb_title_wrap {
    display: block;
    background-color: #2C2A6E;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snb_title {
    font-family: "pretendard", sans-serif;
    color: #fefefe;
    font-weight: 700;
    font-size: 32px;
}

.snb_nav_wrap {
    display: block;
    width: 100%;
    height: 185px;
    
}

.snb_nav {
    display: block;
    width: 100%;
    height: 100%;
    
}

.depth2 {
    list-style: none;

}

.depth2 li {
    border-bottom: 1px solid #ccc;
}


.depth2 a {
    display: block;
    text-decoration: none;
    font-family: "pretendard", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    padding: 15px 20px;
    padding-left: 0px;
    
}

.depth2 .fst_child {
    text-decoration: underline;
}


.depth2 a:hover {
    color: #0080ff;
    text-decoration: underline;
}


/* 메인컨텐츠 */



.content {
    display: block;
    width: 920px;
}

.content_head {
    display: block;
    padding-bottom: 15px;
}

.content_title_wrap {
    display: flex;
    border-bottom: 4px solid #333;
    
}


.content_title {
    font-family: "pretendard";
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}



/* 메인컨텐츠 푸터 */

.content_license {
    margin: 30px;
}

.license_img_wrap  {
    border: 1px solid #a9a9a9;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.license_title {
    display: flex;
    font-family: "pretendard" sans-serif;
    font-size: 18px;
    font-weight: 700;
    align-items: center;

}


.pagenav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
}

.pagenav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagenav a.active {
    background-color: #2C2A6E;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #333; 
  color: #fff;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;
  transition: 0.3s;
}

.btn-top:hover {
  background-color: #0056b3;
}


.img_area .img {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.img_area .img img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    min-height: 100%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    object-fit: cover;
}

.img{
  max-width: 100%;
}

.flex
 {
    display: flex;
    flex-wrap: nowrap;
}

.img_area .text_box{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-wrap:nowrap;
    align-items:flex-start;
    max-width: 700px;
    width: 95%;
    padding: 2.5rem;
    margin: -5em auto 0;
    background: #fff;
    border-radius: 20px;
}

.img_area .left_txt {
    width: 35%;
    margin: 0;
}

.img_area .left_txt span {
    font-size: 1.52em;
    letter-spacing: -.02em;
    font-weight: 500;
    color: #211b19;
    line-height: 1.3;
}

.span{
  display: inline-block;
  vertical-align: baseline;
}

.img_area .left_txt em {
    display: block;
    font-size: 2.7em;
    letter-spacing: -.02em;
    font-weight: 700;
    color: #0080ff;
}

.img_area .right_txt {
  display: block;
    width: 60%;
    font-size: 1.22em;
    letter-spacing: -.04em;
    line-height: 1.5;
}

.img_area .right_txt em {
    font-weight: 500;
    color: #3a3a3a;
}

.img_area .right_txt span {
    display: inline;
    color: #807f7f;
}

.taste_list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 24px;
}

.taste_list .item {
  width: calc((100% - 24px) / 2);
  padding: 24px;
  border: 1px solid #e7e7e7;
  border-radius: 14px;
  box-sizing: border-box;
  background: #fff;
}

.taste_list .item .summary {
  align-items: center;
  gap: 18px;
  margin-bottom: 14px;
}

.taste_list .item .img {
  width: 230px;
  height: 150px;
  margin: 0;
  border-radius: 0;     
  overflow: hidden;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  flex: 0 0 230px;
}

.taste_list .item .img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.taste_list .item .txt {
  margin: 0;
  min-width: 0;
}

.taste_list .item .txt dt {
  margin: 0 0 6px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.35;
}

.taste_list .item .txt dd {
  margin: 0;
  color: #666;
  font-size: 15px;
  line-height: 1.55;
}

.taste_list .item .item_txt {
  margin: 0;
  color: #555;
  font-size: 16px;
  line-height: 1.7;
}

