@charset "utf-8";

.contanier {
    display: block;
    padding-bottom: 10px;
}



/* 현재 페이지 경로 */

.content_location {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    height: 45px;
    align-items: center;
}

.content_location_inner {
    width: 100%;
    box-sizing: border-box;
    justify-items: right;
    padding-right: 60px;
    align-items: center;
}

.content_location_inner ul {
    display: flex;
    gap : 15px;
    list-style: none;              
    padding-right: 100px;
    margin: 0;
    
}

.content_location_inner ul li a {
    color: inherit
}

.content_location_inner ul span {
    padding: auto;
    padding-left: 8px;

}






.content_wrap {
    gap: 50px;
    display: flex;
    box-sizing: border-box;
    width: 100vx;
    height: auto;
    justify-content: center;
    
}



/* 서브 메뉴 */
.snb {
    display: block;
    width: 220px;
    height: 500px;
}

.div .snb_wrap{
    display: block;
    width: 100%;
    height: 499px;
}

.snb_title_wrap {
    display: block;
    background-color: #2C2A6E;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snb_title {
    font-family: "pretendard", sans-serif;
    color: #fefefe;
    font-weight: 700;
    font-size: 32px;
}

.snb_nav_wrap {
    display: block;
    width: 100%;
    height: 185px;
    
}

.snb_nav {
    display: block;
    width: 100%;
    height: 100%;
    
}

.depth2 {
    list-style: none;

}

.depth2 li {
    border-bottom: 1px solid #ccc;
}


.depth2 a {
    display: block;
    text-decoration: none;
    font-family: "pretendard", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    padding: 15px 20px;
    padding-left: 0px;
    
}

.depth2 .thr_child {
    text-decoration: underline;
}


.depth2 a:hover {
    color: #0080ff;
    text-decoration: underline;
}


/* 메인컨텐츠 */



.content {
    display: block;
    width: 920px;
}

.content_head {
    display: block;
    padding-bottom: 15px;
}

.content_title_wrap {
    display: flex;
    border-bottom: 4px solid #333;
    
}


.content_title {
    font-family: "pretendard";
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}









/* 페이지 네비게이션 */


.pagenav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
}

.pagenav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagenav a.active {
    background-color: #2C2A6E;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}




/* 메인컨텐츠 푸터 */

.content_license {
    margin: 30px;
}

.license_img_wrap  {
    border: 1px solid #a9a9a9;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.license_title {
    display: flex;
    font-family: "pretendard" sans-serif;
    font-size: 18px;
    font-weight: 700;
    align-items: center;

}

html {
  scroll-behavior: smooth;
}

.btn-top {
  position: fixed;    
  bottom: 30px;       
  right: 30px;        
  width: 50px;        
  height: 50px;       
  background-color: #000000; 
  color: #fff;        
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;       
  transition: 0.3s;   
}

.btn-top:hover {
  background-color: #004288;
}


/* 시장/쇼핑 maincontent */

.titmaket {
background-image: url(./image/sub53/submain01.png) ;
background-size: cover;
width: 100%;
height: 600px;
display: flex;
}

.txt-maket {
    font-size: 30px;
    font-family: "pretendard" , sans-serif;
    display: block;
    color: #fff;
    margin-left: 60px;
    margin-top: 160px;
    font-weight: 600;
}


em {
    font-size: 24px;
    display: block;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 400;
}

.txt{
    font-size: 18px;
    font-family: "pretendard" ,sans-serif;
    color: #fff;
    margin-left: 60px;
    margin-top: 20px;
    font-weight: 300;
    line-height: 1.6;
}

/* 쇼핑/시장 소개 */

.item {
    display: flex;
    gap: 20px;
    margin-top: 150px;
}

.item-img {
    width: 80%;
    height: auto;
}


.item-h2 {
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: "pretendard" ,sans-serif;
    font-weight: 400;
    margin-top: 100px;
}

.item-h2 span{
    font-size: 40px;
    font-family: "pretendard" ,sans-serif;
    font-weight: 600;
}

.item-h2::before {
    content: '\201C' ;
}

.item-h2::after {
    content: '\201D' ;
}

.item-txt {
    font-family: "pretendard" ,sans-serif;
    line-height: 1.5;
}

.item-txt h4 {
    font-size: 40px;
    font-weight: 500;
}

.item-txt2 {
    font-size: 18px;
    font-weight: 300;
}

.item-txt3 {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    margin-top: 30px;
    margin-left: 20px;
}

.item-txt3 a{
    display: block;
    text-align: center;
    margin-top: 0px;
    font-family: "pretendard" ,sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #414141;
}

.item2{
    display: flex;
    gap: 20px;
    margin-top: 120px;
}



