@charset "utf-8";


/* 현재 페이지 경로 */

.content_location {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    height: 45px;
    align-items: center;
}

.content_location_inner {
    width: 100%;
    box-sizing: border-box;
    justify-items: right;
    padding-right: 60px;
    align-items: center;
}

.content_location_inner ul {
    display: flex;
    gap : 15px;
    list-style: none;              
    padding-right: 100px;
    margin: 0;
    
}

.content_location_inner ul li a {
    color: inherit
}

.content_location_inner ul span {
    padding: auto;
    padding-left: 8px;

}


.content_wrap {
    gap: 50px;
    display: flex;
    box-sizing: border-box;
    width: 100vx;
    height: auto;
    justify-content: center;
    
}


/* 서브 메뉴 */
.snb {
    display: block;
    width: 220px;
    height: 500px;
}

.snb_title_wrap {
    display: block;
    background-color: #2C2A6E;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snb_title {
    font-family: "pretendard", sans-serif;
    color: #fefefe;
    font-weight: 700;
    font-size: 32px;
}

.snb_nav_wrap {
    display: block;
    width: 100%;
    height: 185px;
    
}

.snb_nav {
    display: block;
    width: 100%;
    height: 100%;
    
}

.depth2 {
    list-style: none;

}

.depth2 li {
    border-bottom: 1px solid #ccc;
}


.depth2 a {
    display: block;
    text-decoration: none;
    font-family: "pretendard", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    padding: 15px 20px;
    padding-left: 0px;
    
}

.depth2 .sec_child {
    text-decoration: underline;
}


.depth2 a:hover {
    color: #0080ff;
    text-decoration: underline;
}


/* 메인컨텐츠 */



.content {
    display: block;
    width: 920px;
}

.content_head {
    display: block;
    padding-bottom: 15px;
}

.content_title_wrap {
    display: flex;
    border-bottom: 4px solid #333;
    
}


.content_title {
    font-family: "pretendard";
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*TOP버튼*/

html {
  scroll-behavior: smooth;
}

.btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #333; 
  color: #fff;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;
  transition: 0.3s;
}

.btn-top:hover {
  background-color: #0056b3;
}

/* 서브 메뉴 */

.con{
  min-height: 720px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 50px;
}

.form_wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec_tit{
  width: 100%;
  max-width: 440px;
  margin: 0 auto 14px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.form1{
  width: 500px;
  display: flex;
  justify-content: center;
}
.form_con.terms_card{
  width: 440px;
  background: #fff;
  border: 10px solid #dfe3e8;
  padding: 22px 20px 24px;
}
.terms_logo{
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.terms_logo img{
  max-height: 56px;
  width: auto;
  display: block;
}

.terms_block + .terms_block{
  margin-top: 20px;
}
.cate_tit{
  margin-bottom: 8px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.terms_box{
  border: 1px solid #b7bcc5;
  text-align: left;
  background: #f8f9fb;
  height: 105px;
  overflow-y: auto;
  padding: 12px;
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}
.agree_line{
  margin-top: 8px;
  text-align: right;
  font-size: 15px;
}

.btn_con{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn_con .btn_ctrl{
  flex: 1;
  min-width: 0;
  height: 42px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 800;
  border: 2px solid #555;
  cursor: pointer;
}

.btn_ctrl.back{
  background: #2C2A6E;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_ctrl.join{
  background: #2C2A6E;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 46px;
}